sfRowSegmentExtSvc/main/default/flows/Customer_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getCustomerFromMaster</name>
        <label>getCustomerFromMaster</label>
        <locationX>618</locationX>
        <locationY>608</locationY>
        <actionName>HerokuCustomerMasterSearch_searchEmail__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>didMasterFindCustomer</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>ErrorResponse_Errormsg_401</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>ErrorResponse_Errormsg_404</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>ErrorResponse_Errormsg_503</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varContactID</assignToReference>
            <name>SuccessResponse_SFID_200</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>didMasterFindCustomer</name>
        <label>didMasterFindCustomer</label>
        <locationX>609</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>No_Go_Bud</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindNewCustomer</targetReference>
            </connector>
            <label>Customer Found</label>
        </rules>
        <rules>
            <name>Customer_Not_Found_For_Some_Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Go_Bud</targetReference>
            </connector>
            <label>Customer Not Found For Some Reason</label>
        </rules>
    </decisions>
    <decisions>
        <name>isContactInSF</name>
        <label>isContactInSF</label>
        <locationX>239</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Something Went Wrong</defaultConnectorLabel>
        <rules>
            <name>Contact_In_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_This_Your_Customer</targetReference>
            </connector>
            <label>Contact In SF</label>
        </rules>
        <rules>
            <name>Contact_Not_In_SF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCustomerFromMaster</targetReference>
            </connector>
            <label>Contact Not In SF</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FindNewCustomer</name>
        <label>FindNewCustomer</label>
        <locationX>614</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inserted_the_new_customer_in_SF</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>SearchSFContacts</name>
        <label>SearchSFContacts</label>
        <locationX>247</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isContactInSF</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>Customer_Email_Search</name>
        <label>Customer Email Search</label>
        <locationX>247</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SearchSFContacts</targetReference>
        </connector>
        <fields>
            <name>txtSearchHeader</name>
            <fieldText>&quot;Hello sir/madam - to find you in our system, can you please provide your email address to me? Thanks!&quot;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>customer@example.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmailAddress</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Inserted_the_new_customer_in_SF</name>
        <label>Inserted the new customer in SF!</label>
        <locationX>614</locationX>
        <locationY>133</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblContact2</name>
            <fieldText>{!lblContact}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>IS THIS YOUR CARD!?</description>
        <name>Is_This_Your_Customer</name>
        <label>Found your customer in SF!</label>
        <locationX>441</locationX>
        <locationY>135</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblContact</name>
            <fieldText>Name: {!varContact.Name}
Email: {!varContact.Email}
Salesforce Contact ID: {!varContact.Id}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Go_Bud</name>
        <label>No Go Bud</label>
        <locationX>874</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>{!varErrorMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Customer_Email_Search</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Customer&#39;s email address</description>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
