sfRowSegmentExtSvc/main/default/flows/Example_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Was_A_Customer_Found</name>
        <label>Was A Customer Found?</label>
        <locationX>219</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>screenNo_Customer_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No customah here</defaultConnectorLabel>
        <rules>
            <name>Yes_to_da_customah</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCustomerFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenFound_a_customer</targetReference>
            </connector>
            <label>Yes to da customah</label>
        </rules>
    </decisions>
    <interviewLabel>Example Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Example Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>232</locationX>
        <locationY>668</locationY>
        <inputReference>varCustomerRecord</inputReference>
    </recordDeletes>
    <screens>
        <name>screenFound_a_customer</name>
        <label>Found a customer!</label>
        <locationX>229</locationX>
        <locationY>519</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <fields>
            <name>txtCustomerInfo</name>
            <fieldText>Customer ID: {!varCustomerRecord.Id}
Now time to delete &#39;em</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenInput</name>
        <label>Example Screen Flow</label>
        <locationX>228</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Customer</targetReference>
        </connector>
        <fields>
            <name>inputEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>customer@example.com</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varEmailAddress</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>txtOR</name>
            <fieldText>OR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>inputPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenNo_Customer_Found</name>
        <label>No Customer Found!</label>
        <locationX>452</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>txtTimeToInput</name>
            <fieldText>Normally you&#39;d now enter customer deets, but whatever this is an example.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>screenInput</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>Find_Customer</name>
        <label>Find Customer</label>
        <locationX>228</locationX>
        <locationY>224</locationY>
        <connector>
            <targetReference>Was_A_Customer_Found</targetReference>
        </connector>
        <flowName>Federated_Contact_Search_Subflow</flowName>
        <inputAssignments>
            <name>varEmailAddress</name>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPhoneNumber</name>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerFound</assignToReference>
            <name>varIsCustomerFound</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCustomerRecord.Id</assignToReference>
            <name>varSFID</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varCustomerFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
