sfRowSegmentExtSvc/main/default/flows/Federated_Contact_Search_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Search_Customer_Master</name>
        <label>Email - Search Customer Master</label>
        <locationX>173</locationX>
        <locationY>587</locationY>
        <actionName>HerokuCustomerMaster_searchEmail__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Master_Success</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_401</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_404</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_503</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varInsertedCustomerID</assignToReference>
            <name>SuccessResponse_200</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Phone_Search_Customer_Master</name>
        <label>Phone -Search Customer Master</label>
        <locationX>386</locationX>
        <locationY>587</locationY>
        <actionName>HerokuCustomerMaster_searchPhone__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Master_Success</targetReference>
        </connector>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_401</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_404</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_503</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varInsertedCustomerID</assignToReference>
            <name>SuccessResponse_200</name>
        </outputParameters>
    </actionCalls>
    <decisions>
        <name>Check_Master_Success</name>
        <label>Check Master Success</label>
        <locationX>266</locationX>
        <locationY>717</locationY>
        <defaultConnectorLabel>ANYTHING ELSE</defaultConnectorLabel>
        <rules>
            <name>Found_Customer_Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInsertedCustomerID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Contact</targetReference>
            </connector>
            <label>Found Customer, Inserted</label>
        </rules>
    </decisions>
    <decisions>
        <description>First check for email, then check for phone, then dump out.</description>
        <name>validEmailOrPhoneOrNada</name>
        <label>validEmailOrPhoneOrNada</label>
        <locationX>246</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>It&#39;s All Broke</defaultConnectorLabel>
        <rules>
            <name>Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_SF_For_Email_Address</targetReference>
            </connector>
            <label>Valid Email</label>
        </rules>
        <rules>
            <name>Valid_Phone_No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_SF_For_Phone</targetReference>
            </connector>
            <label>Valid Phone, No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_SF_Contact_Found</name>
        <label>Was SF Contact Found</label>
        <locationX>270</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>No Contact Found, Error.</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnedContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact Found</label>
        </rules>
        <rules>
            <name>No_Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnedContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Valid_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Search_Customer_Master</targetReference>
            </connector>
            <label>No Email Found</label>
        </rules>
        <rules>
            <name>No_Phone_No_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varReturnedContact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Valid_Phone_No_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Search_Customer_Master</targetReference>
            </connector>
            <label>No Phone No Found</label>
        </rules>
    </decisions>
    <interviewLabel>Federated Contact Search Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Federated Contact Search Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>DEBUG SO I CAN RUN THIS 80000 TIMES</description>
        <name>Delete_the_new_contact</name>
        <label>Delete the new contact</label>
        <locationX>273</locationX>
        <locationY>1037</locationY>
        <inputReference>varReturnedContact</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_New_Contact</name>
        <label>Get New Contact</label>
        <locationX>275</locationX>
        <locationY>899</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_the_new_contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varInsertedCustomerID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varReturnedContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_SF_For_Email_Address</name>
        <label>Search SF For Email Address</label>
        <locationX>174</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_SF_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varReturnedContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Search_SF_For_Phone</name>
        <label>Search SF For Phone</label>
        <locationX>388</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_SF_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varReturnedContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>validEmailOrPhoneOrNada</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error text to return to calling function</description>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>The newly inserted customer SF ID</description>
        <name>varInsertedCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>SF Contact found locally in db, or fetched and inserted from remote master</description>
        <name>varReturnedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
