sfRowSegmentExtSvc/main/default/flows/Federated_Contact_Search_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Search_Customer_Master</name>
        <label>Email - Search Customer Master</label>
        <locationX>173</locationX>
        <locationY>587</locationY>
        <actionName>HerokuCustomerMaster_searchEmail__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remote_Outcome</targetReference>
        </connector>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_401</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_404</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_503</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSFID</assignToReference>
            <name>SuccessResponse_200</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Phone_Search_Customer_Master</name>
        <label>Phone -Search Customer Master</label>
        <locationX>386</locationX>
        <locationY>587</locationY>
        <actionName>HerokuCustomerMaster_searchPhone__Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Remote_Outcome</targetReference>
        </connector>
        <inputParameters>
            <name>phoneNumber</name>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_401</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_404</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varError</assignToReference>
            <name>ErrorResponse_503</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSFID</assignToReference>
            <name>SuccessResponse_200</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Set_Found_to_False</name>
        <label>Set Found to False</label>
        <locationX>275</locationX>
        <locationY>908</locationY>
        <assignmentItems>
            <assignToReference>varIsCustomerFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Found_to_True</name>
        <label>Set Found to True</label>
        <locationX>677</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>varIsCustomerFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Remote_Outcome</name>
        <label>Remote Outcome</label>
        <locationX>270</locationX>
        <locationY>725</locationY>
        <defaultConnector>
            <targetReference>Set_Found_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Success</defaultConnectorLabel>
        <rules>
            <name>X503</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error connecting to Pool</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error querying Master table</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SF Login Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error inserting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_to_False</targetReference>
            </connector>
            <label>503</label>
        </rules>
        <rules>
            <name>X404</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No records found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_to_False</targetReference>
            </connector>
            <label>404</label>
        </rules>
    </decisions>
    <decisions>
        <description>First check for email, then check for phone, then dump out.</description>
        <name>validEmailOrPhoneOrNada</name>
        <label>validEmailOrPhoneOrNada</label>
        <locationX>246</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>It&#39;s All Broke</defaultConnectorLabel>
        <rules>
            <name>Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_SF_For_Email_Address</targetReference>
            </connector>
            <label>Valid Email</label>
        </rules>
        <rules>
            <name>Valid_Phone_No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPhoneNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varEmailAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_SF_For_Phone</targetReference>
            </connector>
            <label>Valid Phone, No Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_SF_Contact_Found</name>
        <label>Was SF Contact Found</label>
        <locationX>271</locationX>
        <locationY>386</locationY>
        <defaultConnectorLabel>No Contact Found, Error.</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Found_to_True</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
        <rules>
            <name>No_Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Valid_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Search_Customer_Master</targetReference>
            </connector>
            <label>No Email Found</label>
        </rules>
        <rules>
            <name>No_Phone_No_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSFID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Valid_Phone_No_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Phone_Search_Customer_Master</targetReference>
            </connector>
            <label>No Phone No Found</label>
        </rules>
    </decisions>
    <interviewLabel>Federated Contact Search Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Federated Contact Search Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Search_SF_For_Email_Address</name>
        <label>Search SF For Email Address</label>
        <locationX>174</locationX>
        <locationY>268</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_SF_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmailAddress</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Search_SF_For_Phone</name>
        <label>Search SF For Phone</label>
        <locationX>388</locationX>
        <locationY>270</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_SF_Contact_Found</targetReference>
        </connector>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPhoneNumber</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSFID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>validEmailOrPhoneOrNada</startElementReference>
    <status>Draft</status>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Error text to return to calling function</description>
        <name>varError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <description>Bool to describe if customer found or created + found.</description>
        <name>varIsCustomerFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSFID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
